{% extends 'base.html' %}

{% block container %}
    <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="mt-5">Tooting Tutoring</h1>
      <p class="lead">We provides individual private tuition to help you improve your results in modules, mocks, tests
          or summer examinations</p>
      <ul class="list-unstyled">
        <li>Maths and English Tuition</li>
        <li>Individual Private tuition to meet your needs</li>
        <li>All exams boards catered for</li>
        <li>One-off sessions or long term tuition</li>
      </ul>
    </div>
  </div>
{% endblock %}