{% extends 'base.html' %}

{% block container %}
    <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="mt-5">Electric Car Hire</h1>
      <p class="lead">Maecenas eget dapibus massa. Vivamus aliquet odio quis velit lobortis ultricies. Nam nunc felis,
          suscipit non luctus vitae, auctor ut odio. Pellentesque id mi leo. Praesent ipsum ligula, tristique iaculis
          leo tempor, ultrices tristique lacus. Praesent suscipit egestas orci, eget cursus felis iaculis in.
          Suspendisse dictum tortor sed lacus vulputate, quis vestibulum urna lacinia. In semper dui nisi, eu accumsan
          purus venenatis porta. Phasellus dignissim nulla gravida metus sodales tincidunt. Nullam id ipsum sit amet
          diam molestie vehicula vel at augue.</p>
      <ul class="list-unstyled">
        <li>Praesent pellentesque felis et lectus ullamcorper pharetra.</li>
        <li>Proin at felis eu turpis vestibulum dictum.</li>
        <li>Sed lacinia felis condimentum, efficitur dui sit amet, blandit elit.</li>
        <li>Mauris ut quam varius, pharetra tellus in, dignissim mauris.</li>
      </ul>
    </div>
  </div>
{% endblock %}