{% extends 'base.html' %}

{% block container %}
    <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="mt-5">Login</h1>
      <p class="lead">Something witty</p>
      {% for message in get_flashed_messages() %}
          <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
          </div>
      {% endfor %}
        {% from "./helpers/_form_helper.html" import render_field %}
    <form method="POST" action="/login">
         <dl>
            {{ form.csrf_token }}
            {{ render_field(form.username) }}
            {{ render_field(form.password) }}
        </dl>
        <p><input type=submit value=Login>
    </form>
    </div>
  </div>
{% endblock %}